body,
html {
  font-family: sans-serif;
}

.row {
  --bs-gutter-x: none;
}

#prev-model-input {
  display: none;
}

#prev-model-container {
  height: 50px;
  width: 98vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#prev-model-container span {
  float: right;
  border-bottom: 2px solid rgb(107, 102, 102);
  cursor: pointer;
}

#prev-model-container span:hover {
  border-bottom: 3px solid rgb(107, 102, 102);
}

#class1-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#class2-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#cs1-image-upload {
  display: none;
}

#cs2-image-upload {
  display: none;
}

#result-video {
  display: none;
}
#result1-text {
  display: none;
}

#result2-text {
  display: none;
}

#result1-container,
#result2-container {
  display: inline;
}

#result1-name {
  display: inline;
}

#result2-name {
  display: inline;
}

#result1-pc-container {
  display: none;
  width: 300px;
  height: 20px;
  background-color: rgba(137, 43, 226, 0.151);
  border-radius: 5px;
}

#result2-pc-container {
  display: none;
  width: 300px;
  height: 20px;
  background-color: rgba(226, 194, 13, 0.281);
  border-radius: 5px;
}

#result1-pc {
  width: 50%;
  height: 20px;
  background-color: rgb(137, 43, 226);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
  font-size: 15px;
}

#result2-pc {
  width: 50%;
  height: 20px;
  background-color: rgb(226, 194, 13);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
  font-size: 15px;
}

#download-model {
  display: none;
}

#about-btn {
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  border-radius: 50%;
}

#about-btn svg {
  color: black;
}
