body,
html {
  font-family: sans-serif;
  text-align: center;
}

.row {
  --bs-gutter-x: none;
}

#github-star-alert {
  padding: 6px;
  width: 99%;
  margin: 10px auto;
  margin-top: 1px;
}

#github-star-alert button {
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
}

#github-link {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
}

#webcam-doc-alert {
  width: 99%;
  margin: 10px auto;
  margin-top: 1px;
}

#chrome-doc-link,
#firefox-doc-link,
#safari-doc-link {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
}

#chrome-doc-link {
  border-bottom: 3px solid rgb(202, 189, 0);
}

#firefox-doc-link {
  border-bottom: 3px solid rgb(155, 38, 9);
}

#safari-doc-link {
  border-bottom: 3px solid rgb(39, 167, 241);
}

#chrome-doc-link:hover,
#firefox-doc-link:hover,
#safari-doc-link:hover {
  border-bottom: 5px solid;
}

#prev-model-input {
  display: none;
}

#prev-model-container {
  height: 50px;
  width: 98vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#prev-model-container span {
  float: right;
  border-bottom: 2px solid rgb(107, 102, 102);
  cursor: pointer;
}

#prev-model-container span:hover {
  border-bottom: 3px solid rgb(107, 102, 102);
}

#class1-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#class2-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#cs1-image-upload {
  display: none;
}

#cs2-image-upload {
  display: none;
}

#cs1-img-upload-btn,
#cs2-img-upload-btn {
  margin-left: 10px;
}

.progress {
  margin: 0 auto;
  width: 90%;
  margin-top: 2vh;
}

#submit-btn {
  margin-top: 8vh;
  margin-bottom: 10vh;
}

#result-video {
  display: none;
}
#result1-text {
  display: none;
}

#result2-text {
  display: none;
}

#result1-container,
#result2-container {
  display: inline;
}

#result1-name {
  display: inline;
}

#result2-name {
  display: inline;
}

#result1-pc-container {
  display: none;
  width: 300px;
  height: 20px;
  background-color: rgba(137, 43, 226, 0.151);
  border-radius: 5px;
  text-align: start;
}

#result2-pc-container {
  display: none;
  width: 300px;
  height: 20px;
  background-color: rgba(226, 194, 13, 0.281);
  border-radius: 5px;
  text-align: start;
}

#result1-pc {
  width: 50%;
  height: 20px;
  background-color: rgb(137, 43, 226);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
  font-size: 15px;
}

#result2-pc {
  width: 50%;
  height: 20px;
  background-color: rgb(226, 194, 13);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
  font-size: 15px;
}

#download-model {
  display: none;
}

.bg-done {
  background-color: rgb(0, 174, 255);
}

.bg-mid {
  background-color: rgb(3, 238, 140);
}

@media only screen and (max-width: 768px) {
  #class1-sample {
    margin-bottom: 8vh;
  }

  #prev-model-container span {
    margin-right: 4vw;
  }
}
