body,
html {
  font-family: sans-serif;
}
#class1-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#class2-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#cs1-image-upload {
  display: none;
}

#cs2-image-upload {
  display: none;
}

#result-video {
  display: none;
}
#result1-text {
  display: none;
}

#result2-text {
  display: none;
}
