body,
html {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.row {
  --bs-gutter-x: none;
}

#img-example-container {
  margin-top: 8vh;
}

#github-star-alert {
  padding: 6px;
  width: 99%;
  margin: 10px auto;
  margin-top: 1px;
  z-index: 1;
}

#github-star-alert button {
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
}

#github-link {
  text-decoration: none;
  border-bottom: 2px solid black;
  color: black;
}

#webcam-doc-alert {
  width: 99%;
  margin: 10px auto;
  margin-top: 1px;
  line-height: 2;
}

#chrome-doc-link,
#firefox-doc-link,
#safari-doc-link {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
}

#chrome-doc-link {
  border-bottom: 3px solid rgb(202, 189, 0);
}

#firefox-doc-link {
  border-bottom: 3px solid rgb(155, 38, 9);
}

#safari-doc-link {
  border-bottom: 3px solid rgb(39, 167, 241);
}

#chrome-doc-link:hover,
#firefox-doc-link:hover,
#safari-doc-link:hover {
  border-bottom: 5px solid;
}

#no-img-warning {
  text-align: start;
}

#no-image-innertitle {
  margin-bottom: 8px;
  display: block;
}

#prev-model-input {
  display: none;
}
#handle-model-dataset {
  margin-top: 1vh;
  margin-bottom: 2vh;
  float: right;
  margin-right: 1vw;
}
#prev-model-container {
  display: block;
}

#prev-model-container span {
  float: right;
  border-bottom: 3px solid rgb(107, 102, 102);
  cursor: pointer;
}
#prev-model-container span:hover {
  border-bottom: 5px solid rgb(107, 102, 102);
}

#download-dataset {
  border-bottom: 3px solid rgb(60, 27, 207);
  margin-top: 5px;
  margin-bottom: 0;
  cursor: pointer;
}
#download-dataset:hover {
  border-bottom: 5px solid rgb(60, 27, 207);
}

#train-new-dataset {
  border-bottom: 3px solid rgb(27, 207, 117);
  cursor: pointer;
  position: fixed;
  left: 2vw;
  top: 1vh;
  display: table;
}
#train-new-dataset:hover {
  border-bottom: 5px solid rgb(27, 207, 117);
}

#title {
  margin: 0 auto;
  margin-bottom: 4vh;
  font-size: 2rem;
  padding-top: 2vh;
  width: 300px;
  background-image: linear-gradient(to right, #000000, #4a09c4);
  -webkit-background-clip: text;
  color: transparent;
}

#class1-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 12vh;
}

#class2-sample {
  width: 460px;
  flex: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 12vh;
}

#clear-example-btn1,
#clear-example-btn2 {
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 25px;
}

#clear-example-btn1 svg,
#clear-example-btn2 svg {
  color: red;
}

#cs1-image-upload {
  display: none;
}

#result1-name {
  color: rgb(137, 43, 226);
  margin-right: 8px;
  font-weight: 500;
}

#result2-name {
  color: rgb(226, 194, 13);
  margin-right: 8px;
  font-weight: 500;
}

#cs2-image-upload {
  display: none;
}

#cs1-img-upload-btn,
#cs2-img-upload-btn {
  margin-left: 10px;
}

#total-cs1-img,
#total-cs2-img {
  background-color: #6c757d;
}

.progress {
  margin: 0 auto;
  width: 90%;
  margin-top: 2vh;
}

#cs1-image-counter,
#cs2-image-counter {
  background-color: #dc3545;
}

#submit-btn {
  margin-bottom: 10vh;
  padding: 6px 18px;
}

#result-video {
  display: none;
}

#result-text {
  text-align: start;
  /* width should match with the result video width */
  width: 534px;
  margin: 0 auto;
  margin-top: 3vh;
}

#recognized-class {
  margin-bottom: 4vh;
}

#recognized-class::first-letter {
  text-transform: uppercase;
}

#result1-text {
  display: none;
}

#result2-text {
  display: none;
}

.result1-container,
.result2-container {
  margin: 10px auto;
}

#result1-name {
  display: inline;
}

#result2-name {
  display: inline;
}

#result1-pc-container {
  display: none;
  width: 300px;
  height: 25px;
  background-color: rgba(137, 43, 226, 0.151);
  border-radius: 5px;
  text-align: start;
  float: right;
  margin-right: 20px;
}

#result2-pc-container {
  display: none;
  width: 300px;
  height: 25px;
  background-color: rgba(226, 194, 13, 0.281);
  border-radius: 5px;
  text-align: start;
  float: right;
  margin-right: 20px;
}

#result1-pc {
  width: 50%;
  height: 25px;
  background-color: rgb(137, 43, 226);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
}

#result2-pc {
  width: 50%;
  height: 25px;
  background-color: rgb(226, 194, 13);
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  text-align: end;
  display: none;
  border-radius: 5px;
}

#result1-pc-label,
#result2-pc-label {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  #class1-sample {
    margin-bottom: 8vh;
  }

  #prev-model-container span {
    margin-right: 4vw;
  }
}
